GEMINI_API_KEY=MY_GEMINI_API_KEY
OTP_PEPPER_SECRET=default_otp_pepper_secret
SENDER_DISPLAY_NAME=StudyMate
SENDER_EMAIL=support@studymate.internal
SMTP_HOST=smtp.gmail.com
SMTP_PASS=default_smtp_password
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=support@studymate.internal